body {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.body-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0px 5px 0px;
}

form input {
    width: 500px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
}

form button {
    width: fit-content;
    margin-bottom: 20px;
}

#createVote:disabled {
    opacity: 0.4;
    cursor: default;
}