.body-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.vote-content {
    width: 500px;
}

.vote-content input {
    width: 400px;
    margin: 7px 0 15px 0;
    padding: 7px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-sizing: border-box;
}

.vote-content > .vote-option input {
    width: 300px;
}

.vote-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vote-option > .vote-count {
  width: 100px; 
  margin-left: 25px;
  padding-top: 10px;
}