body {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

fieldset {
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 0px;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
}

.form-top {
    display: flex;
    justify-content: space-between;
}

b {
    font-weight: 800;
}

.user {
    background-color: ghostwhite;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 7px 15px;
}

.form-content {
    padding: 10px 2px;
}

.form-footer {
    display: flex;
    justify-content: space-between;
}